/.vs/*
/x64/*
/x86/*
/build/*
/out/*
/wmm/.idea/*
/wmm/x64/*
/wmm/3rd/*
/wmm/build/*
/wmm/cmake-build-debug/*
/wmm/cmake-build-release/*
/wmm/cmake-build-relwithdebinfo/*
/wmm/cmake-build-minsizerel/*
