* {
    font-family: "Times New Roman", sans-serif;
    border-color: dimgray;
    color: lightgray;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.h0 {
    font-size: xxx-large;
    font-weight: bold;
    line-height: 2.5;
}

fieldset {
    display: inline-block;
}

#lang-selector {
    position: absolute;
    top: 0;
    right: 0;
}

.main-ch {
    font-size: xx-large;
}
